<div class="card-text">
  <h2>Kiernan Shipka</h2>
  <p>Kiernan Shipka was born in Chicago, Illinois, to John Young Shipka, a real estate developer, and his wife, Erin Ann, a one-time queen of Chicago's St. Patrick's Day parade. The family relocated to Los Angeles when she was six to support her acting career. Kiernan got her black belt in taekwondo in June, 2012. Shipka began doing commercial print modeling when she was a baby. As part of Mad Men (2007)'s ensemble cast, she won the Screen Actors Guild Award for Outstanding Performance by an Ensemble in a Drama Series in 2008 and 200</p>
</div>